---
import Layout from "../../layouts/Layout.astro";
import Nav from "./_components/Nav.astro";
import Hero from "./_components/Hero.astro";
import Features from "./_components/Features.astro";
import Screenshots from "./_components/Screenshots.astro";
import Download from "./_components/Download.astro";
import PluginsThemes from "./_components/PluginsThemes.astro";
import Footer from "./_components/Footer.astro";
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <Features />
    <Screenshots />
    <Download />
    <PluginsThemes />
  </main>
  <Footer />
</Layout>
